# ==========================================
# QNX & ARM Cross-Compilation Artifacts
# ==========================================
*.o
*.elf
*.bin
*.hex
*.map
*.ifs

# ==========================================
# Build Directories & QNX Specifics
# ==========================================
build/
bin/
ifs-rpi4.bin
.qnx/

# ==========================================
# Editor & OS Artifacts
# ==========================================
.vscode/
.DS_Store
Thumbs.db
*.swp
*~
